aniso8601
anyio
atomicwrites
attrs
autopep8
bleach
certifi
chardet
click
click-log
colorama
deprecation
docutils
dotty-dict
Flask
Flask-RESTful
gitdb
GitPython
gotrue
h11
httpcore
httpx
idna
importlib-metadata
iniconfig
invoke
itsdangerous
jaraco.classes
Jinja2
keyring
MarkupSafe
more-itertools
packaging
pkginfo
pluggy
postgrest-py
py
pycodestyle
pydantic
Pygments
pyparsing
pytest
python-dateutil
python-dotenv
python-gitlab
python-semantic-release
pytz
pywin32-ctypes
readme-renderer
realtime
realtime-py
requests
requests-toolbelt
rfc3986
semver
six
smmap
sniffio
storage3
supabase
supabase-py
supafunc
toml
tomlkit
tqdm
twine
typing_extensions
urllib3
webencodings
websockets
Werkzeug
zipp
